Filter : <p><input type="text" ng-model="myFilter"/></p>
<p>Selected image has id : {{ selected.uuid }} </p>

<img src='http://localhost:8080/Thin-Media-Server/resources/media/stream/{{ selected.uuid }}' alt="bird" class="ng-scope" height="100" width="100">
<table border="1">
    <tr>
        <th>owner</th>
        <th>id</th>
        <th>type</th>
    </tr>
    <tr ng-repeat="oneMedia in allMedia | filter:myFilter"
        ng-click="showSelectedElement(oneMedia)"
        ng-class-even="'even'" ng-class-odd="'odd'"
        >
        <td>{{oneMedia.owner}}</td>
        <td>{{oneMedia.uuid}}</td>
        <td>{{oneMedia.dtype}}</td>
      
    </tr>

</table>
